div {
  width: 100px;
  height: 100px;
  background-color: #aaff22;
  text-align: center;
  line-height: 100px;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin: auto;
}

.red {
  color: red
}